<div class="container" style= "width: 400px;">
    <div class="row">
      <div class="card-header">
        <h1 class= "card-title text-center"><b>Xóa sản phẩm</b></h1>
 
      </div>
      <div class="card-body">
         <p> Tên Sản Phẩm: {{book.name}} </p>
         <p> Giá: {{book.price}} </p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <button type="button" on-click= "delete()" class="btn btn-danger" >Xóa</button>
        <button type="button" [routerLink]="['']" class="btn btn-primary mx-2" >Quay lại</button>
      </div>
    </div>
  </div> 